In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
insta=pd.read_csv(r'/content/Top 50 Most Followed Instagram Accounts.csv',encoding='latin')

In [20]:
insta.head()

,Rank,Username,Owner,Followers (millions),Profession/Activity,Country/Continent
0,1,@instagram,Instagram,515.0,Social media platform,United States
1,2,@cristiano,Cristiano Ronaldo,450.0,Footballer,Portugal
2,3,@kyliejenner,Kylie Jenner,344.0,"Television personality, model and businesswoman",United States
3,4,@leomessi,Lionel Messi,333.0,Footballer,Argentina
4,5,@selenagomez,Selena Gomez,324.0,"Musician, actress, producer and businesswoman",United States

In [14]:
insta.shape

(50, 6)

In [15]:
insta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank                  50 non-null     int64
 1   Username              50 non-null     object
 2   Owner                 50 non-null     object
 3   Followers (millions)  50 non-null     float64
 4   Profession/Activity   50 non-null     object
 5   Country/Continent     50 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.5+ KB

In [16]:
insta.describe()

           Rank  Followers (millions)
count  50.00000             50.000000
mean   25.50000            171.530000
std    14.57738            105.296625
min     1.00000             70.100000
25%    13.25000             80.950000
50%    25.50000            133.000000
75%    37.75000            224.000000
max    50.00000            515.000000

In [17]:
insta.isnull().sum()

Rank                    0
Username                0
Owner                   0
Followers (millions)    0
Profession/Activity     0
Country/Continent       0
dtype: int64

In [18]:
insta.dtypes

Rank                      int64
Username                 object
Owner                    object
Followers (millions)    float64
Profession/Activity      object
Country/Continent        object
dtype: object

In [21]:
insta=insta.drop(columns=['Rank'],axis=1)

In [23]:
insta.columns

Index(['Username', 'Owner', 'Followers (millions)', 'Profession/Activity',
       'Country/Continent'],
      dtype='object')

In [35]:
insta['Profession/Activity'].nunique()

28

In [34]:
insta['Country/Continent'].nunique()

16

In [29]:
insta.duplicated().sum()

0

In [57]:
insta['Profession/Activity'].value_counts()

Musician                                           11
Footballer                                          4
Actress                                             3
Musician and actress                                3
Television personality, model and businesswoman     2
Musician and actor                                  2
Social media personality                            2
Television personality and model                    2
Football club                                       2
Actor                                               1
Club football competition                           1
Musician and model                                  1
Actress and musician                                1
Basketball player                                   1
Space agency                                        1
Model                                               1
Comedian and television personality                 1
Social media platform                               1
Musician and businesswoman                          1
Comedian and actor                                  1
Cricketer                                           1
Sportswear multinational                            1
Magazine                                            1
Model and television personality                    1
Musician, actress and businesswoman                 1
Actor and professional wrestler                     1
Musician, actress, producer and businesswoman       1
Lingerie Company                                    1
Name: Profession/Activity, dtype: int64

In [58]:
insta['Country/Continent'].value_counts()

 United States          29
 India                   4
 Canada                  2
 Spain                   2
 United Kingdom          2
 Portugal                1
 Argentina               1
 Trinidad and Tobago     1
 Brazil                  1
 Barbados                1
 Europe                  1
 Israel                  1
 Thailand                1
 Italy                   1
 Colombia                1
 France                  1
Name: Country/Continent, dtype: int64

In [52]:
###One Hot Encoding 
X=insta.drop(columns=['Followers (millions)'],axis=1)
X.head()

,Username,Owner,Profession/Activity,Country/Continent
0,@instagram,Instagram,Social media platform,United States
1,@cristiano,Cristiano Ronaldo,Footballer,Portugal
2,@kyliejenner,Kylie Jenner,"Television personality, model and businesswoman",United States
3,@leomessi,Lionel Messi,Footballer,Argentina
4,@selenagomez,Selena Gomez,"Musician, actress, producer and businesswoman",United States

In [53]:
y=insta['Followers (millions)']
y.head()

0    515.0
1    450.0
2    344.0
3    333.0
4    324.0
Name: Followers (millions), dtype: float64

In [54]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [55]:
X_train.head()

       Username                Owner Profession/Activity     Country/Continent
24    @ddlovato          Demi Lovato  Musician and actor         United States
48    @k.mbappe        Kylian Mbappé          Footballer                France
17  @nickiminaj          Nicki Minaj            Musician   Trinidad and Tobago
12      @natgeo  National Geographic            Magazine         United States
27   @kingjames         LeBron James   Basketball player         United States

In [56]:
X_train.shape

(40, 4)

In [62]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(drop='first',sparse=False,dtype=np.int32)

In [65]:
X_train_new=ohe.fit_transform(X_train[['Profession/Activity','Country/Continent']])

In [66]:
X_test_new=ohe.fit_transform(X_test[['Profession/Activity','Country/Continent']])

In [67]:
X_train_new.shape

(40, 34)

In [68]:
X_test_new.shape

(10, 10)

In [72]:
t=np.hstack((X_train[['Username','Owner']].values,X_train_new))